html
	head
		title Definetly not frogger - NBU
	body
		.fHld.jc-c.align-center
			.fElement
				//- .menu
				//- 	div Frogger
				//- 	button(onClick="startGame()") Play
				//- 	input(type='text', placeholder='Choose dificully')
				//- 	button Audio On

				canvas.temp-bg

		script(src='index.js')